@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@400;600;700;800&display=swap");

* {
  margin: 0 auto;
}

body {
  background: #dfeeea;
  font-family: "Montserrat";
  min-height: 100%;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #2f5d62;
  margin: 30px;
}

.content-wrap {
  min-height: calc(100vh - 40px);
}
