/* body {
    background: #2f5d62;
} */

.bodyContainer {
  position: absolute;
  background: #2f5d62;
  height: calc(100% - 100px);
  width: 100%;
}

.container {
  margin: 60px 80px;
}
.title {
  text-align: center;
  font-size: 60px;
  /* color: #a7c4bc; */
  color: white;
}

.buttonContainer {
  display: flex;

  justify-content: center;
}

.button {
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #a7c4bc;
  color: #2f5d62;
  height: 50px;
  width: 200px;
  border-style: none;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

.button:hover {
  width: 220px;
  height: 55px;
  font-size: 22px;
}
